* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.ad {
    width: 100%;
    background-color: #d7edff;
    text-align: center;
    padding: 0.5em 0;
}

.ad p {
    margin: auto;
    font-weight: 400;
}

.ad p span {
    font-weight: bold;

}

/* navbar */

.navbar {
    display: none;
}

/* main-body */

.main-body {
    padding: 5em 2em;
    background-color: #d4f7f3;
    font-weight: bold;
}

.cs {
    color: #00c7ac;
    margin: 1rem 0;
}

.left-col h1 {
    margin: 1rem 0;
} 

.left-col p {
    margin: 1rem 0;
}

.right-col {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.right-col img {
    width: 100%;
    height: auto;
}

.trusted {
    text-align: center;
    padding: 2em 0;
}

.trusted p {
    margin: 1em 0;
    font-weight: bold;
}

.imagelist {
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
}

.imagelist li {
    list-style: none;
}

.imagelist li img {
    width: 50px;
    height: 50px;
}

.features {
    background-color: #00011a;
    color: white;
    padding: 5em 2em;
}

.features-heading{
    color: #00b3a7;
    text-transform: uppercase;
    font-weight: 900;
}

.features-text {
    text-align: center;
    margin: 3em 0;
    text-transform: uppercase;
}

.features-text p {
    margin: 1.5em 0;
}

.features-list div {
    background-color: #0c4941;
    padding: 2em;
    margin: 2em 0;
    text-align: left;
}

.features-list div img {
    padding: 0.75em;
    background-color: #d4f7f3;
    border-radius: 0.5em;
}

.features-list div img, .features-list div h3, .features-list div p {
    margin: 1em 0;
}

.features-list div a {
    text-decoration: none;
    color: white;
    text-decoration-style: dashed;
}

.gs {
    display: inline-block;
    background-color: #0c4941;
    padding: 1em 2em;
    text-decoration: none;
    color: white;
    font-weight: 900;
    border-radius: 1em;
}

.features-list {
    text-align: center;
}


.testimonials {
    padding: 2em;
}

.rating {
    width: 5em;
    margin: 0 0 -2rem 0;
}

.pfp {
    margin: 2em 0 0 0;
    width: 4em;
    border-radius: 50%;
    border: 5px solid rgb(77, 76, 76);
}

.name {
    font-weight: bold;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 1em 0;
    font-weight: 900;
}